<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.founder.estatelander</string>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/python3</string>
		<string>/Users/roseonyema/Documents/code/crew/scripts/estate-lander</string>
		<string>--push</string>
	</array>
	<key>StandardErrorPath</key>
	<string>/Users/roseonyema/.estate/state/logs/estate-lander.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/roseonyema/.estate/state/logs/estate-lander.out.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>7</integer>
			<key>Minute</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>13</integer>
			<key>Minute</key>
			<integer>29</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>19</integer>
			<key>Minute</key>
			<integer>29</integer>
		</dict>
	</array>
</dict>
</plist>
