<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/Users/roseonyema/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>Label</key>
	<string>com.estate.bundlepush</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProcessType</key>
	<string>Background</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/roseonyema/.estate/bin/estate-runner</string>
		<string>/Users/roseonyema/Documents/code/claude-guards/estate/estate_bundle_push.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/roseonyema/.estate/state/logs/estate-bundlepush.err.log</string>
	<key>StandardOutPath</key>
	<string>/Users/roseonyema/.estate/state/logs/estate-bundlepush.out.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>0</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>2</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>4</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>6</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>12</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>14</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>18</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>20</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>22</integer>
			<key>Minute</key>
			<integer>27</integer>
		</dict>
	</array>
</dict>
</plist>
