<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>HOME</key>
		<string>/Users/roseonyema</string>
		<key>PATH</key>
		<string>/Users/roseonyema/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>PROSPECTOR_STORE_DIR</key>
		<string>/Users/roseonyema/Documents/code/prospector/store</string>
	</dict>
	<key>Label</key>
	<string>com.prospector.log-rotation</string>
	<key>Nice</key>
	<integer>10</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/roseonyema/Documents/code/prospector-live/.venv/bin/python</string>
		<string>-m</string>
		<string>ops.automations.log_rotation</string>
		<string>--fix</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardErrorPath</key>
	<string>/Users/roseonyema/Documents/code/prospector/store/log_rotation.log</string>
	<key>StandardOutPath</key>
	<string>/Users/roseonyema/Documents/code/prospector/store/log_rotation.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>4</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>10</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>16</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>22</integer>
			<key>Minute</key>
			<integer>25</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/roseonyema/Documents/code/prospector-live</string>
</dict>
</plist>
